body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    padding: 0;
    margin: 5px;
    gap: 1vw;
    height: 5vw;
    align-items: center;
}

header button {
    width: 6vw;
    height: 3vw;
    border-radius: 20px;
    border: 0;
}